<template>
  <div>
    /*** https://opentdb.com/api.php?amount=10&category=18&type=multiple **/
    <h1 class="header">
      <p>Funcy Quiz</p>
      <p>Counter {{index}}/10</p>
    </h1>
    <hr />
   
  </div>
</template>
<style>
.header {
  display: flex;

  width: 100vw;
}

.header > p {
  font-size: 13px;
  margin-right: 20px;
}

</style>
<script>
export default {
  props:{
    index:Number
  }
}
</script>>