<template>
  <div id="app">
    <div v-if="!showResults">
      <Header v-bind:index="index + 1" />

      <QuestionBox
        v-bind:quizcount="questions.length"
        v-bind:preview="preview"
        v-if="questions.length"
        v-bind:quizindex="index"
        :curentquestion="questions[index]"
        :next="next"
        v-bind:previous="previous"
        v-bind:onAnswerSelection="selectedAnswer"
        v-bind:class="{ shakeme: isAnswered }"
      />
    </div>
    <div v-else>
      <div class="results">
        <table>
          <thead>
            <tr>
              <th>No.</th>
              <th>Question</th>
              <th>Answer</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="question_answer"
              v-for="(question, index) in questions"
              v-bind:key="question.id"
            >
              <td data-column="First Name">{{ index + 1 }}</td>
              <td data-column="Last Name">{{ question.question }}</td>
              <td data-column="Job Title">
                {{
                  question.selected_answer.answer == null
                    ? "Not Answered"
                    : question.selected_answer.answer
                }}
              </td>
            </tr>

            <!-- <tr>
              <td>{{ index + 1 }}</td>
              <td>{{ question.question }}</td>
              <td>{{ question.selected_answer }}</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import QuestionBox from "./components/QuestionBox.vue";
export default {
  name: "App",
  components: {
    Header,
    QuestionBox,
  },
  data() {
    return {
      questions: [],
      index: 0,
      showResults: false,
      isAnswered:false,
    };
  },
  methods: {
    next: function() {
      let answer = this.questions[this.index].selected_answer;
      console.log("answer selected",answer)
      if (answer.answer === null && answer.selected === false) {
         
        this.$set(this.$data, 'isAnswered', true)
        return;
      }else{
        this.index < this.questions.length - 1 ? this.index++ : 0;
         this.$set(this.$data, 'isAnswered', false)
      }
      
    },
    previous: function() {
      this.index > 0 ? this.index-- : 0;
    },
    preview: function() {
      this.showResults = true;
    },
    selectedAnswer: function(selectedAnswer, quizIndex) {
      console.log(selectedAnswer, quizIndex);
      this.questions[quizIndex]["selected_answer"] = selectedAnswer;
      this.questions = [...this.questions];
      console.log("quiz to update", this.questions[quizIndex]);
    },
   
  },
  mounted: function() {
    fetch("https://opentdb.com/api.php?amount=10&category=18&type=multiple", {
      method: "get",
    })
      .then((response) => {
        return response.json();
      })
      .then((response) => {
        let mappedResponse = response.results.map((question) => {
          let answers = [
            ...question.incorrect_answers,
            question.correct_answer,
          ];
          return {
            ...question,
            id: Date.now() + Math.random(),
            selected_answer: { answer: null, selected: false },
            answers: answers.map((answer) => {
              return { selected: false, answer: answer };
            }),
          };
        });
        this.questions = mappedResponse;
        //console.log(mappedResponse);
      })
      .catch((error) => {
        print(error);
      });
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.results {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.question_answer {
  text-align: start;
}
table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}

.shakeme {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
 
}

</style>
